name: example_with_gradle
on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      version:
        description: dummy
        default: dummy

jobs:

  linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: compile and generate sorma2 classes
        shell: bash
        run: |
          ./do_compile.sh
          ./do_run.sh || exit 1

      - name: run with gradle
        run: |
          cd example_gradle_linux/
          ./gradlew run

      - name: show beginning of the DB file
        run: |
          cd example_gradle_linux/
          cat app/main.db|hexdump -C|head -24

      - name: check if DB is really encrypted
        shell: bash
        run: |
          cd example_gradle_linux/
          err=$(cat app/main.db|hexdump -C|head -24|grep "SQLite"||echo "")
          if [ "$err""x" != "x" ]; then
            echo "Database may not be encrypted !"
            exit 1
          fi

  linux-arm64:
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: compile and generate sorma2 classes
        shell: bash
        run: |
          ./do_compile.sh
          ./do_run.sh || exit 1

      - name: run with gradle
        run: |
          cd example_gradle_linux/
          ./gradlew run

      - name: show beginning of the DB file
        run: |
          cd example_gradle_linux/
          cat app/main.db|hexdump -C|head -24

      - name: check if DB is really encrypted
        shell: bash
        run: |
          cd example_gradle_linux/
          err=$(cat app/main.db|hexdump -C|head -24|grep "SQLite"||echo "")
          if [ "$err""x" != "x" ]; then
            echo "Database may not be encrypted !"
            exit 1
          fi



  macos64:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: macos-version1
        run: sw_vers -productVersion

      - name: macos-version2
        run: system_profiler SPSoftwareDataType

      - name: java-version
        run: java -version
        shell: bash

      - name: compile and generate sorma2 classes
        shell: bash
        run: |
          ./do_compile.sh
          ./do_run.sh || exit 1

      - name: run with gradle
        shell: bash
        run: |
          cd example_gradle_linux/
          ./gradlew run

      - name: show beginning of the DB file
        shell: bash
        run: |
          cd example_gradle_linux/
          cat app/main.db 2>/dev/null|xxd 2>/dev/null|head -24 || echo "no ERR"

      - name: check if DB is really encrypted
        shell: bash
        run: |
          cd example_gradle_linux/
          echo " " >> app/main.db
          content=$(cat app/main.db 2>/dev/null|xxd 2>/dev/null|head -24 || echo "no ERR")
          err=$(echo "$content"|grep "SQLite"||echo "")
          if [ "$err""x" != "x" ]; then
            echo "Database may not be encrypted !"
            exit 1
          fi


  macos-14arm:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: macos-version1
        run: sw_vers -productVersion

      - name: macos-version2
        run: system_profiler SPSoftwareDataType

      - name: java-version
        run: java -version
        shell: bash

      - name: compile and generate sorma2 classes
        shell: bash
        run: |
          ./do_compile.sh
          ./do_run.sh || exit 1

      - name: run with gradle
        shell: bash
        run: |
          cd example_gradle_linux/
          ./gradlew run

      - name: show beginning of the DB file
        shell: bash
        run: |
          cd example_gradle_linux/
          cat app/main.db 2>/dev/null|xxd 2>/dev/null|head -24 || echo "no ERR"

      - name: check if DB is really encrypted
        shell: bash
        run: |
          cd example_gradle_linux/
          echo " " >> app/main.db
          content=$(cat app/main.db 2>/dev/null|xxd 2>/dev/null|head -24 || echo "no ERR")
          err=$(echo "$content"|grep "SQLite"||echo "")
          if [ "$err""x" != "x" ]; then
            echo "Database may not be encrypted !"
            exit 1
          fi

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Display the path
        run: echo %PATH%
        shell: cmd

      - name: java-version
        run: java -version
        shell: bash

      - name: compile and generate sorma2 classes
        shell: bash
        run: |
          java -classpath ".;sqlite-jdbc-3.51.1.0.jar:sorma2.jar" com/zoffcc/applications/sorm/Generator "gen"

      - name: run with gradle
        shell: bash
        run: |
          cd example_gradle_linux/
          ./gradlew run

      - name: show beginning of the DB file
        shell: bash
        run: |
          cd example_gradle_linux/
          cat app/main.db|xxd|head -24 || exit 1

      - name: check if DB is really encrypted
        shell: bash
        run: |
          cd example_gradle_linux/
          echo " " >> app/main.db
          content=$(cat app/main.db 2>/dev/null|xxd 2>/dev/null|head -24 || echo "no ERR")
          err=$(echo "$content"|grep "SQLite"||echo "")
          if [ "$err""x" != "x" ]; then
            echo "Database may not be encrypted !"
            exit 1
          fi

